# Python
__pycache__/
*.py[cod]
*.egg-info/

# Build- und Testumgebungen
dist/
build/
.venv/
build_env/
min_env/
wheels/

# Werkzeug-Caches und Berichte
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Editor
.idea/
.vscode/
*.swp

# local experiment files
experiments/

